* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("/images/afternoon.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

h1, p {
	font-family: sans-serif;
	text-align: center;
	color: #f47171;
	font-size:  100px;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 #fffefe, 0 -2px white;
}


p {
	font-size: 30px;
}

#output, #container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


input {
    background-color: #eee;
    border: none;
    font-family: sans-serif;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}
